html, body {
  overflow-x: hidden;
}

body {
  background-color: #e1e0de;
  font-family: 'Sen', sans-serif;
}

.uploadsContainer {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 100px);
  margin: 0 auto;
  // max-width: 60%;

  &.results {
    min-height: auto;

    .uploadWrapper {
      > div {
        padding: 10px;

        h6 {
          margin-bottom: 30px;
        }

      }
    }
  }

  .uploadWrapper {
    background-color: #f5f5f4;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    flex: 1;
    height: 100%;
    display: flex;
    position: relative;


    > div {
      border: 1px dashed gray;
      border-radius: 10px;
      // padding: 10px;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      h6 {
        text-transform: uppercase;
        color: #757575;
        margin-bottom: 0;
        padding: 10px 0;
      }

      label {
        margin: 10px 30px;

        img {
          max-width: 100%;
          height: auto;
        }
      }

      div.imgs {
        display: flex;
        justify-content: space-around;

        span {
          padding: 8px;
          background-color: #fff;
          display: block;

          img {
            width: 120px;
          }
        }
      }

      .matched {
        color: #34b434;
        margin-bottom: 15px;
        margin-top: 30px;

        h2, h4, h5 {
          margin-bottom: 0;
          text-transform: uppercase;
        }

        h2 {
          font-weight: bold;
          line-height: 1;
          font-size: 4.5rem;
        }

        h4 {
          letter-spacing: 2px;
          font-size: $font-1875;
        }
      }

      .newScan-btn {
        width: 100%;
        background-color: #34b434;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        border-radius: 7px;
      }

      .iconsWrap {
        //min-height: 70%;
      }
    }
  }
}

.middle-container {
  max-height: 450px;
  display: flex;
  justify-content: center;
}

.scanner-container
{
  position: relative;
  max-width: 450px;
  max-height: 450px;
}

.dfui-loading-wrap {
  $width: 15px;
  $height: 15px;
  $bounce_height: 30px;

  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);;
  font-family: Montserrat;

  .wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .text {
    color: #fbae17;
    display: inline-block;
    margin-left: 5px;
  }

  .bounceball {
    position: relative;
    display: inline-block;
    height: 37px;
    width: $width;
    &:before {
      position: absolute;
      content: '';
      display: block;
      top: 0;
      width: $width;
      height: $height;
      border-radius: 50%;
      background-color: #fbae17;
      transform-origin: 50%;
      animation: bounce 500ms alternate infinite ease;
    }
  }

  &.hidden {
    display: none;
  }

  @keyframes bounce {
    0% {
      top: $bounce_height;
      height: 5px;
      border-radius: 60px 60px 20px 20px;
      transform: scaleX(2);
    }
    35% {
      height: $height;
      border-radius: 50%;
      transform: scaleX(1);
    }
    100% {
      top: 0;
    }
  }
}

.commands-container {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  width: 100%;
  background-color: rgba(12, 12, 12, 0.51);
  color: #fd8406;

  &.hidden {
    display: none;
  }
}

.anim-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.results-view {

  .list-group-item {
    &.active {
      background-color: #34b434;
      border-color: #34b434;
    }
  }
}
